# Laravel Logs
*.log

# Environment files
.env
.env.backup
.env.production

# IDE / Editor folders
/.idea
/.vscode
/.zed
/.fleet
.phpactor.json

# PHPUnit / testing caches
.phpunit.result.cache
/.phpunit.cache

# Composer / Node
/vendor
/node_modules
/auth.json

# Public build & storage
/public/build
/public/hot
/public/storage

/storage/*.key
/storage/pail

# Homestead
Homestead.json
Homestead.yaml

# OS files
.DS_Store
Thumbs.db

# Laravel Nova
/.nova